// ===========================================================
//                      HEADER
// =========================================================== 

header {
    text-align: center;
    padding: 0  $space-right 10vh $space-left;
    background-color: $clr-000;
    color: $clr-fff;
    
    .stroke {
        border-right: 2px solid transparent;
        border-left: 2px solid $clr-fff-0_5;
        padding: 15vh 0;
        width: 1px;
        margin: 0 auto;
        transform: translateX(50%);
    }

    .header_article {
        padding: 2vh 0 10vh 0;

        h5 {
            padding: 3vh 0;
        }

        h1:nth-of-type(1) {
            -webkit-text-stroke: 1px $clr-fff;
        }
        h1:nth-of-type(2) {
            color: $clr-000;
            -webkit-text-stroke: 1px $clr-fff;
        }
    }

    .header_flex {
        @include flex_row(space-between, center);
        padding: 5vh 0;

        a{
            @include a_button;
        }
    }
    
}

// ===========================================================
//                      SECTIONS INTRO
// =========================================================== 


.section_intro_stats {
    background: $clr-000 url('../img/map.svg') bottom 15% right / 40% no-repeat;
    color: $clr-fff;
    padding: 0  $space-right 0 $space-left;

    .div_stats {
        padding: 20vh 0;

        .div_stats_article {
            padding: 2.5vh 0;
        }
    }
}

// ===========================================================
//                      SECTIONS STUCK
// =========================================================== 


.section_stuck {
    padding: 70vh $space-right 50vh $space-right;
    position: relative;

    .article_stuck {
        padding: 0 27.5% 0 27.5%;

        p:nth-of-type(2) {
            padding: 100vh 0 0 0;
        }
    }

    img {
        position: absolute;
        min-width: 30rem;
        width: 20%;
    }

    #action_1 {
        top: -10vh;
        right: 10rem;
        width: 25%;
    }

    #action_2 {
        left: 5rem;
        top: 20vh;
    }

    #action_3 {
        right: 5%;
        top: 100vh;
    }

    #action_4 {
        left: 10%;
        top: 140vh;
    }

    #action_5 {
        right: 10%;
        top: 170vh;
        width: 25%;
    }

    #action_6 {
        left: 0;
        top: 210vh;
    }

    #action_7 {
        right: 20%;
        top: 270vh;
        width: 30%;
        z-index: 2;
    }
}

// ===========================================================
//                      SECTIONS BEAR
// =========================================================== 

.section_bear {
    @include grid(40vh / 1fr 1fr, space-between, center);
    padding: 40vh $space-left 100vh $space-right;
    position: relative;

    .article_bear-headline {
        align-self: start;
    }

    .article_bear-paragraph {
        padding: 0 10% 0 0;
    }

    img {
        position: absolute;
    }

}

.section_bear-dark {
    color: $clr-fff;
    background: $clr-000;
    padding: 30vh $space-left 100vh $space-right;

    #img_gb-one {
        width: 50%;
        bottom: -20vh;
        left: 10%;
        z-index: 2;
    }

    #img_gb-two {
        width: 25%;
        bottom: -10vh;
        right: 20%;
        z-index: 3;
    }
}

.section_bear-bright {
    padding: 60vh $space-left 120vh $space-right;

    #img_animation {
        width: 40%;
        top: -20vh;
        right: -10%;
        z-index: 1;
        animation: rolling 10s infinite linear;
    }

    #img_poppy_bear {
        width: 30%;
        bottom: 25vh;
        left: 15%;
        z-index: 2;
    }

    #img_rose_bear {
        width: 50%;
        bottom: 15vh;
        right: 15%;
        z-index: 1;
    }
}



// ===========================================================
//                      SECTIONS FOOTER/CALENDAR
// =========================================================== 


footer {
    position: relative;
    overflow: hidden;
    
    .section_calendar {
        background: $clr-000;
        color: $clr-fff;
        padding: 20vh 50% 10vh $space-left;
    
        a{
            @include a_button;
            margin: 5vh 0;
        }
    
    }

    .banderole {
        color: $clr-000;
        background: $clr-fff;
        position: absolute;
        overflow: hidden;
        height: 20vh;
        width: 100%;
        transform: translate(30%, -300%) rotate(45deg);
        
        p{ 
            animation: banderole 20s infinite linear;
            white-space: nowrap;
            -webkit-text-stroke: 1px $clr-000;
    
            span {
                color: white;
                -webkit-text-stroke: 1px $clr-000;
            }
        }
    }

    .lower_footer {
        background: $clr-000;
        color: $clr-fff;
        padding: 5vh $space-left 5vh $space-right;
        @include grid(1fr/1fr 1fr, space-between, center);

        .footer_left {
    
            .footer_sz {
                @include flex_row(flex-start, center);
                gap: 1rem;

                a{
                    img {
                        width: 30px;
                    }
                }
            }
        }
    
        .footer_right {
            text-align: right;
            img {
                width: 15%;
            }
        }
    }
}


// ===========================================================
//                      KEYFRAMES
// =========================================================== 


@keyframes rolling {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes banderole {
    0% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }   
}