* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    overflow-x: hidden;
}

a {
    display: inline-block;
    transition: background 0.5s linear;
}

a:hover {
    color: $clr-000;
    background: $clr-fff-0_5;
}