// ====================================================
//          ANPASSUNG MOBILE AUF 576px;
//                  HEIGHT beim TESTEN war 668px;

// ====================================================

@include media($break-sm) {

    // ========================================================
//                      FONTS
// =========================================================== 

    html {
            font-size: 55%;

        }
        
    // =============================================
    //            FONTS  HEADLINES/ANCHOR
    // =============================================

    h1 {
        font-size: $fs-h1-mobile;
    }

    // =============================================
    //         FONTS   Paragraph per Section
    // =============================================

    .section_intro_stats {
        .article_intro {
            p {
                font-size: $fs-lm;
            }
        }
    }


    // ===========================================================
    //                      SECTIONS INTRO
    // =========================================================== 


    .section_intro_stats {
        background-size: 80%;

        .article_intro {
            padding-left: $space-left;
        }

        .div_stats {
            text-align: center;

        }
    }

    // ===========================================================
    //                      SECTIONS STUCK
    // =========================================================== 


    .section_stuck {
        padding: 20vh 0 20vh 0;
        text-align: center;
        position: initial;

        @include grid (repeat(6,0.5fr) / 1fr 1fr, center, center);
        gap: 5px;

        .article_stuck {
            padding: 10vh 10% 10vh 10%;
            margin: initial;
        }

        img {
            position: initial;
            min-width: initial;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .article_stuck-one {
            grid-area: 2 / 1 / 3 / 3;
        }

        .article_stuck-two {
            grid-area: 5 / 1 / 6 / 3;
        }

        #action_1 {
            grid-area: 1 / 1 / 2 / 2;
        }

        #action_2 {
            grid-area: 1 / 2 / 2 / 3;
        }

        #action_3 {
            grid-area: 3 / 1 / 4 / 3;
        }

        #action_1,
        #action_2,
        #action_3,
        #action_4,
        #action_5,
        #action_6,
        #action_7 {
            width: 100%;
        }
    }

    // ===========================================================
    //                      SECTIONS BEAR
    // =========================================================== 

    .section_bear {
        @include grid(1fr 1fr / 1fr, space-between, center);
        position: relative;

        .article_bear-headline {
            align-self: initial;
            text-align: center;
            margin-bottom: 5vh;
        }

        .article_bear-paragraph {
            padding: 0 10% 0 10%;
        }

    }

    .section_bear-dark {
        padding: 25vh $space-left 25vh $space-right;
    }

    .section_bear-bright {
        padding: 25vh $space-left 70vh $space-right;
        overflow: hidden;

        #img_animation {
            top: -10vh;
            right: -5%;
        }
    
        #img_poppy_bear {
            width: 40%;
            bottom: 20vh;
            left: 10%;
            z-index: 2;
        }
    
        #img_rose_bear {
            width: 60%;
            bottom: 15vh;
            right: 10%;
            z-index: 1;
        }
    }

    // ===========================================================
    //                      SECTIONS FOOTER/CALENDAR
    // =========================================================== 

    footer {
        
        .section_calendar {
            padding: 20vh $space-right 10vh $space-left;
        
            a{
                @include a_button;
                margin: 5vh 0 0 0;
            }
        
        }

        .banderole {
            position: initial;
            transform: initial;
        }

        .lower_footer {
            padding: 10vh $space-left 10vh $space-right;
        
            .footer_right {
                img {
                    width: 30%;
                }
            }
        }
    }
}

// ====================================================
//          ANPASSUNG MOBILE auf 400px;

// ====================================================

@include media($break-mobile) {
    html {
        font-size: 40%;
    }
}