$ff-sans: 'Work Sans', sans-serif;
$ff-larish: 'Larish Neue', serif;

$fs-sm: 1rem;
$fs-ms: 1.6rem;
$fs-m: 2rem;
$fs-ml: 3rem;
$fs-lm: 5rem;
$fs-l: 8rem;
$fs-xl: 10rem;
$fs-xxl: 11rem;
$fs-band: 14rem;

$width: 90%;

$space-left: 5%;
$space-right: 5%;

$clr-fff: #fff;
$clr-fff-0_5: rgba(255, 255, 255, 0.5);
$clr-000: #000;
$clr-000-0_5: rgba(0, 0, 0, 0.5);


$break-sm: 576px;