@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Larish Neue";
  src: url("../fonts/Larish Neue Semibold.woff2");
}
h1 {
  font-family: "Larish Neue", serif;
  font-size: 10rem;
  line-height: 0.8;
}

h2 {
  font-family: "Larish Neue", serif;
  font-size: 10rem;
}

h3 {
  font-family: "Larish Neue", serif;
  font-size: 8rem;
  line-height: 0.9;
}

h4 {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
}

h5 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
}

.article_intro p {
  font-family: "Larish Neue", serif;
  font-size: 11rem;
}

.div_stats_article p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
}

.article_stuck p {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  line-height: 2;
}

.article_bear-headline p {
  font-size: 2rem;
}

.article_bear-paragraph p:nth-of-type(1) {
  font-size: 3rem;
  line-height: 1.2;
}
.article_bear-paragraph p:nth-of-type(2) {
  font-size: 2rem;
  line-height: 3;
}

.section_calendar article p {
  font-size: 5rem;
}

.banderole p {
  font-size: 14rem;
  font-weight: 600;
}

.footer_left p {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 0 5% 10vh 5%;
  background-color: #000;
  color: #fff;
}
header .stroke {
  border-right: 2px solid transparent;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  padding: 15vh 0;
  width: 1px;
  margin: 0 auto;
  transform: translateX(50%);
}
header .header_article {
  padding: 2vh 0 10vh 0;
}
header .header_article h5 {
  padding: 3vh 0;
}
header .header_article h1:nth-of-type(1) {
  -webkit-text-stroke: 1px #fff;
}
header .header_article h1:nth-of-type(2) {
  color: #000;
  -webkit-text-stroke: 1px #fff;
}
header .header_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0;
}
header .header_flex a {
  padding: 2rem 5rem;
  border: 1px solid #fff;
  display: inline-block;
  transition: background 0.5s linear;
}
header .header_flex a:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.5);
}

.section_intro_stats {
  background: #000 url("../img/map.svg") bottom 15% right/40% no-repeat;
  color: #fff;
  padding: 0 5% 0 5%;
}
.section_intro_stats .div_stats {
  padding: 20vh 0;
}
.section_intro_stats .div_stats .div_stats_article {
  padding: 2.5vh 0;
}

.section_stuck {
  padding: 70vh 5% 50vh 5%;
  position: relative;
}
.section_stuck .article_stuck {
  padding: 0 27.5% 0 27.5%;
}
.section_stuck .article_stuck-two {
  margin: 100vh 0 0 0;
}
.section_stuck img {
  position: absolute;
  min-width: 30rem;
  width: 20%;
}
.section_stuck #action_1 {
  top: -10vh;
  right: 10rem;
  width: 25%;
}
.section_stuck #action_2 {
  left: 5rem;
  top: 20vh;
}
.section_stuck #action_3 {
  right: 5%;
  top: 100vh;
}
.section_stuck #action_4 {
  left: 10%;
  top: 140vh;
}
.section_stuck #action_5 {
  right: 10%;
  top: 170vh;
  width: 25%;
}
.section_stuck #action_6 {
  left: 0;
  top: 210vh;
}
.section_stuck #action_7 {
  right: 20%;
  top: 270vh;
  width: 30%;
  z-index: 2;
}

.section_bear {
  display: grid;
  grid-template: 40vh/1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 40vh 5% 100vh 5%;
  position: relative;
}
.section_bear .article_bear-headline {
  align-self: start;
}
.section_bear .article_bear-paragraph {
  padding: 0 10% 0 0;
}
.section_bear img {
  position: absolute;
}

.section_bear-dark {
  color: #fff;
  background: #000;
  padding: 30vh 5% 100vh 5%;
}
.section_bear-dark #img_gb-one {
  width: 50%;
  bottom: -20vh;
  left: 10%;
  z-index: 2;
}
.section_bear-dark #img_gb-two {
  width: 25%;
  bottom: -10vh;
  right: 20%;
  z-index: 3;
}

.section_bear-bright {
  padding: 60vh 5% 120vh 5%;
}
.section_bear-bright #img_animation {
  width: 40%;
  top: -20vh;
  right: -10%;
  z-index: 1;
  animation: rolling 10s infinite linear;
}
.section_bear-bright #img_poppy_bear {
  width: 30%;
  bottom: 25vh;
  left: 15%;
  z-index: 2;
}
.section_bear-bright #img_rose_bear {
  width: 50%;
  bottom: 15vh;
  right: 15%;
  z-index: 1;
}

footer {
  position: relative;
  overflow: hidden;
}
footer .section_calendar {
  background: #000;
  color: #fff;
  padding: 20vh 50% 10vh 5%;
}
footer .section_calendar a {
  padding: 2rem 5rem;
  border: 1px solid #fff;
  display: inline-block;
  transition: background 0.5s linear;
  margin: 5vh 0;
}
footer .section_calendar a:hover {
  color: #000;
  background: rgba(255, 255, 255, 0.5);
}
footer .banderole {
  color: #000;
  background: #fff;
  position: absolute;
  overflow: hidden;
  height: 20vh;
  width: 100%;
  transform: translate(30%, -300%) rotate(45deg);
}
footer .banderole p {
  animation: banderole 20s infinite linear;
  white-space: nowrap;
  -webkit-text-stroke: 1px #000;
}
footer .banderole p span {
  color: white;
  -webkit-text-stroke: 1px #000;
}
footer .lower_footer {
  background: #000;
  color: #fff;
  padding: 5vh 5% 5vh 5%;
  display: grid;
  grid-template: 1fr/1fr 1fr;
  justify-content: space-between;
  align-items: center;
}
footer .lower_footer .footer_left .footer_sz {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
footer .lower_footer .footer_left .footer_sz a img {
  width: 30px;
}
footer .lower_footer .footer_right {
  text-align: right;
}
footer .lower_footer .footer_right img {
  width: 15%;
}

@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes banderole {
  0% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@media only screen and (max-width: 576px) {
  html {
    font-size: 8px;
  }

  h1 {
    font-size: 7.5rem;
  }

  .section_intro_stats .article_intro p {
    font-size: 5rem;
  }

  .section_intro_stats {
    background-size: 80%;
  }
  .section_intro_stats .article_intro {
    padding-left: 5%;
  }
  .section_intro_stats .div_stats {
    text-align: center;
  }

  .section_stuck {
    padding: 20vh 5% 20vh 5%;
    text-align: center;
    position: initial;
    display: grid;
    grid-template: repeat(6, 1fr, 1fr 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .section_stuck .article_stuck {
    padding: 10vh 10% 10vh 10%;
    margin: initial;
  }
  .section_stuck img {
    position: initial;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section_stuck .article_stuck-one {
    grid-area: 2/1/3/3;
  }
  .section_stuck .article_stuck-two {
    grid-area: 5/1/6/3;
  }
  .section_stuck #action_1 {
    grid-area: 1/1/2/2;
  }
  .section_stuck #action_2 {
    grid-area: 1/2/2/3;
  }
  .section_stuck #action_3 {
    grid-area: 3/1/4/3;
  }
  .section_stuck #action_1,
.section_stuck #action_2,
.section_stuck #action_3,
.section_stuck #action_4,
.section_stuck #action_5,
.section_stuck #action_6,
.section_stuck #action_7 {
    width: 100%;
  }

  .section_bear {
    display: grid;
    grid-template: 1fr 1fr/1fr;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .section_bear .article_bear-headline {
    align-self: initial;
    text-align: center;
    margin-bottom: 5vh;
  }
  .section_bear .article_bear-paragraph {
    padding: 0 10% 0 10%;
  }

  .section_bear-dark {
    padding: 25vh 5% 25vh 5%;
  }

  .section_bear-bright {
    padding: 25vh 5% 70vh 5%;
  }
  .section_bear-bright #img_animation {
    top: -10vh;
    right: -5%;
  }
  .section_bear-bright #img_poppy_bear {
    width: 40%;
    bottom: 20vh;
    left: 10%;
    z-index: 2;
  }
  .section_bear-bright #img_rose_bear {
    width: 60%;
    bottom: 15vh;
    right: 10%;
    z-index: 1;
  }

  footer .section_calendar {
    padding: 20vh 5% 10vh 5%;
  }
  footer .section_calendar a {
    padding: 2rem 5rem;
    border: 1px solid #fff;
    display: inline-block;
    transition: background 0.5s linear;
    margin: 5vh 0 0 0;
  }
  footer .section_calendar a:hover {
    color: #000;
    background: rgba(255, 255, 255, 0.5);
  }
  footer .banderole {
    position: initial;
    transform: initial;
  }
  footer .lower_footer {
    padding: 10vh 5% 10vh 5%;
  }
  footer .lower_footer .footer_right img {
    width: 30%;
  }

  @keyframes rolling {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/*# sourceMappingURL=style.css.map */
